.side-menu-content{
    position: relative;
    height: 100vh;
}
.side-menu{
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 100px; 
    width: 100%;
    border: 1px solid #f1f1f1;
    width: 100%;
    height: 100vh;
}
#sidebar-container {
    min-height: 100vh;    
    padding: 0;
    /* position: fixed; */
}
 
.sidebar-expanded {
    width: 100%;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: rgb(27, 27, 27);
}

#sidebar-container .list-group {
    border: 1px solid rgba(255, 255, 255, 0) !important;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}
#sidebar-container .list-group .list-group-item{ 
    border: 1px solid rgb(250, 250, 250);
}
/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \2023";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: "\279D"; 
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}